# =====================from Django 1. 

venv/
vemv/
db.sqlite3
__pycache__/
migrations/



# =====================from react 

# dependencies
node_modules/
/.pnp
.pnp.js
.bin/


# testing
coverage/
# production
/build
build/
.bin/
/.bin
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
